{% extends "base.jinja2" %}
{% block title %}{{ title }}{% endblock %}
{% block main %}

<h1>{{ title }}</h1>

<form method="POST">
<fieldset>
{{ fs.render() }}
<input type="submit" value="Submit">
</fieldset>
</form>
{% endblock %}
