{% extends "base.jinja2" %}
{% block title %}{{ title }}{% endblock %}

{% block main %}
<h1>{{ title }}</h1>
   <ul>
   {% for pre in presenters %}
       <li><a href="presenter/{{ pre.ixPresenter }}">{{ pre.title.sTitle }}. {{ pre.sFirstName }} {{ pre.sLastName }}</a></li>
   {% endfor %}
   </ul>
{% endblock %}
